<!doctype html>
<head>
{% block head %}
<title>Foursquare places</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script src="http://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap"
async defer></script>


<script>
{% block map %}
      var map;
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var labelIndex = 0;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{ airbnb_lat }},
                   lng: {{ airbnb_lng }} },
          zoom: 12
        });
        var bounds = new google.maps.LatLngBounds();

        {% for place in places %}
        var lat = {{ place['venue']['location']['lat'] }};
        var lng = {{ place['venue']['location']['lng'] }};
        var location = new google.maps.LatLng(lat, lng);
        var placeTitle = "{{ place['venue']['name'] }}";
        var rating = {{ place['venue']['rating']}};
        var num_reviews = {{ place['venue']['ratingSignals']}};
        var markerColour = '{{ colours_dict[place['broad_cat']] }}';
        var iconURL = 'https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_' + markerColour + labels[labelIndex++ % labels.length] + '.png';

        var contentString = '<b>' + placeTitle + '</b>' +
            '<p>Average rating ' + rating + ' from ' + num_reviews + ' reviews</p>';

        var infowindow{{ place['venue']['id'] }} = new google.maps.InfoWindow({
              content: contentString
            });

        var markerColour = '{{ colours_dict[place['broad_cat']] }}';

        var place{{ place['venue']['id'] }} = new google.maps.Marker({
          position: location,
          map: map,
          title: placeTitle,
          icon: iconURL
        });
        place{{ place['venue']['id'] }}.addListener('click', function() {
          infowindow{{ place['venue']['id'] }}.open(map, place{{ place['venue']['id'] }});
        });
        var sidebarIMG = document.getElementById("image-place{{ place['venue']['id'] }}");

        sidebarIMG.src = iconURL;
        bounds.extend(place{{ place['venue']['id'] }}.position);

        {% endfor %}

        map.fitBounds(bounds);
      }
{% endblock %}
</script>
<style>
html, body, .container-fluid, .row {
	height: 100%;
}

.sidebar {
  background-color: #CCCCCC;
  overflow-y: auto;
}

#map {
    height: 100%;
}

@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #CCCCCC;
  }
}
</style>
{% endblock %}
</head>
  <body>
  {% block body %}
  <div class="container-fluid">
  <div class="row">

    <div class="col-md-2 sidebar">
        <ul class="sidebar">
            {% for place in places %}
            <li class="place" id="place{{ place['venue']['id'] }}">
                <img id="image-place{{ place['venue']['id'] }}" class="marker-icon">
                <b><a href="#">{{ place['venue']['name'] }}</a></b>
                <p>Category: {{ place['venue']['categories'][0]['name'] }}</p>
                <p>Rating {{ place['venue']['rating'] }} from {{ place['venue']['ratingSignals']}} reviews</p>
            </li>
            {% endfor %}
       </ul>
    </div>

    <div class="col-md-10 col-md-offset-2 content" id="map">
    </div>

  </div>
</div>

{% endblock %}
</body>
