<!doctype html>
<head>
{% block head %}
<title>Foursquare places</title>
<meta name="viewport" content="initial-scale=1.0">
<meta charset="utf-8">

<script type="text/javascript"
src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap"
async defer></script>


<script>
{% block map %}
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: {{ airbnb_lat }},
               lng: {{ airbnb_lng }} },
      zoom: 12
    });
    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    var labelIndex = 0;
    var bounds = new google.maps.LatLngBounds();

    {% for place in places %}
    var lat = {{ place['venue']['location']['lat'] }};
    var lng = {{ place['venue']['location']['lng'] }};
    var location = new google.maps.LatLng(lat, lng);
    var placeTitle = "{{ place['venue']['name'] }}";
    var rating = {{ place['venue']['rating']}};
    var num_reviews = {{ place['venue']['ratingSignals']}};

    var contentString = '<b>' + placeTitle + '</b>' +
        '<p>Average rating ' + rating + ' from ' + num_reviews + ' reviews</p>';

    var infowindow{{ place['venue']['id'] }} = new google.maps.InfoWindow({
          content: contentString
        });

    var markerColour = '{{ colours_dict[place['broad_cat']] }}';

    var place{{ place['venue']['id'] }} = new google.maps.Marker({
      position: location,
      map: map,
      title: placeTitle,
      icon: 'https://raw.githubusercontent.com/Concept211/Google-Maps-Markers/master/images/marker_' + markerColour + labels[labelIndex++] + '.png'
    });
    place{{ place['venue']['id'] }}.addListener('click', function() {
      infowindow{{ place['venue']['id'] }}.open(map, place{{ place['venue']['id'] }});
    });

    bounds.extend(place{{ place['venue']['id'] }}.position);

    {% endfor %}

    map.fitBounds(bounds);
  }
{% endblock %}
</script>
<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 100%;
  }
</style>
{% endblock %}
</head>
  <body>
  {% block body %}
      <div class="sidebar">
          <ul class="sidebar">
              {% for place in places %}
              <li class="place" id="place{{ place['venue']['id'] }}">
                  <img id="place{{ place['venue']['id'] }}" class="marker-icon">
                  <b><a href="{{ foursquare link }}">{{ place['venue']['name'] }}</a></b>
                  <p>Category: {{ place['venue']['categories'][0]['name'] }}</p>
                  <p>Rating {{ place['venue']['rating'] }} from {{ place['venue']['num_reviews'] }} reviews</p>
              </li>
              {% endfor %}
      </div>
    <div id="map"></div>
    {% endblock %}
</body>
